> **__Introduction__**
.tag:Introduction
Welcome to our Feats System channel, the purpose of these objectives is to give you fun objectives to aim for at various encounters, aiming to provide a challenge disregarding any meta whatsoever of farming kills. Happy hunting!

All submissions require supporting evidence to be reviewed by staff.

.
> __**Submitting for a Role**__
.tag:Submissions
A submission should be provided as follows,

⬥ **Novice** / **Initiate** / **Apprentice**
    • **Screenshots or videos** are both accepted.

⬥ **Adept** / **Master** / **Grandmaster** / **Legend**
    • **Only videos** are accepted unless otherwise stated.

Please post your submissions in <#827692629197324348> so that they can be reviewed by staff and/or role reviewers. Submissions will be evaluated according to our rules, as follows,

.
> __**Special Roles**__
.tag:Special
In addition to all of the listed feats objectives, we provide special roles for those who go above and beyond in mastering multiple different encounters.

.
{
  "embed": {
    "title": "__**PvME Special Roles**__",
    "color": 16711683,
    "thumbnail": { "url": "https://i.imgur.com/QlUVe0U.gif" },
    "description": "**\"Roles\" = either mastery or feats.**",
    "fields": [
      {
        "name": "**__Available Roles__**",
        "value": "<@&1016907127136202823>\n\u00a0\u00a0\u00a0\u00a0• Obtain 12 **Initiate** (or higher) roles \n<@&976237003869933618>\n\u00a0\u00a0\u00a0\u00a0• Obtain 12 **Apprentice** (or higher) roles\n<@&976237036858138664>\n\u00a0\u00a0\u00a0\u00a0• Obtain 12 **Adept** (or higher) roles\n<@&976237079115747369>\n\u00a0\u00a0\u00a0\u00a0• Obtain 12 **Master** (or higher) roles\n<@&976237108937244674>\n\u00a0\u00a0\u00a0\u00a0• (Vanity!) Obtain 12 **Grandmaster** roles"
      }
    ]
  }
}
.embed:json

.
> **__Feats Initiate__**
The training wheels to becoming a Daredevil. Test your survival skills and dexterity with quick reaction inputs.

.tag:Initiate
{
  "embed": {
    "title": "",
    "color": 6257841,
    "fields": [
      {
        "name": "**__Initiate Feats__**",
        "value": "<@&958424545545580624>\n\u00a0\u00a0\u00a0\u00a0• Full solo ED trilogy without banking\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0- Adrenaline crystal and Altar are acceptable; but, no banking or healing in banking area\n<@&958424174496481340>\n\u00a0\u00a0\u00a0\u00a0• Kill a boss in 1 game tick, or lowest possible\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0- E.g. 10.8s Kalphite Queen\n<@&958424211112722432>\n\u00a0\u00a0\u00a0\u00a0• Solo RotS"
      }
    ]
  }
}
.embed:json

.
> **__Feats Apprentice__**
A risk-taker, and slightly hermit fighter that is beginning to undertake the difficult feats available in the game.

.tag:Apprentice
{
  "embed": {
    "title": "",
    "color": 11638387,
    "fields": [
      {
        "name": "**__Apprentice Feats__**",
        "value": "<@&860648659280199700>\n\u00a0\u00a0\u00a0\u00a0• Duo AoD\n<@&860648624799350835>\n\u00a0\u00a0\u00a0\u00a0• Duo Beastmaster Durzag\n<@&860649063330611231>\n\u00a0\u00a0\u00a0\u00a0• Duo Yakamaru (Mirage phase)\n<@&535653951912280073>\n\u00a0\u00a0\u00a0\u00a0• Hold a PvM World Record on [PvM Records](https://www.pvm-records.com/)"
      }
    ]
  }
}
.embed:json

.
> **__Feats Adept__**
A stuntman rises from the ashes. The encounters in this bracket will test your game knowledge and combat improvisation.

.tag:Adept
{
  "embed": {
    "title": "",
    "color": 14280686,
    "fields": [
      {
        "name": "**__Adept Feats__**",
        "value": "<@&860648712493072435>\n\u00a0\u00a0\u00a0\u00a0• Kill Telos at 4000% enrage\n<@&860648687007694868>\n\u00a0\u00a0\u00a0\u00a0• Solo Beastmaster Durzag\n<@&958424733291020388>\n\u00a0\u00a0\u00a0\u00a0• Duo Vorago in hard mode"
      }
    ]
  }
}
.embed:json

.
> **__Feats Master__**
The Daredevil rises. Your consistency is unparalleled and your guts immeasurable.

.tag:Master
{
  "embed": {
    "title": "",
    "color": 14329120,
    "fields": [
      {
        "name": "**__Master Feats__**",
        "value": "<@&931940905752096859>\n\u00a0\u00a0\u00a0\u00a0• 200ks at Arch-Glacor\n<@&860648758391472158>\n\u00a0\u00a0\u00a0\u00a0• Solo Yakamaru (Mirage phase)\n<@&958424996135436368>\n\u00a0\u00a0\u00a0\u00a0• Solo Vorago NM on all 4 P5s\n<@&576608533630681099>\n\u00a0\u00a0\u00a0\u00a0• Duo Vorago HM on all 6 weeks\n<@&1014579309110898718>\n\u00a0\u00a0\u00a0\u00a0• Kill Zamorak at 4000% in a group"
      }
    ]
  }
}
.embed:json

.
> **__Feats Grandmaster__**
Some would call you crazy, others a madman. We prefer to call you a Feats Fiend.

.tag:GM
{
  "embed": {
    "title": "",
    "color": 12294655,
    "fields": [
      {
        "name": "**__Grandmaster Feats__**",
        "value": "<@&769052746077700140>\n\u00a0\u00a0\u00a0\u00a0• 200ks at Telos\n<@&958425138280415232>\n\u00a0\u00a0\u00a0\u00a0• Solo AoD\n<@&891176803245363200>\n\u00a0\u00a0\u00a0\u00a0• Kill Arch-Glacor at 4000% enrage\n<@&1014579276093325323>\n\u00a0\u00a0\u00a0\u00a0• Kill Zamorak at 4000% in solo\n<@&1014579343726489670>\n\u00a0\u00a0\u00a0\u00a0• No food 4000% Zamorak\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0- Applies to the entire team for group attempts"
      }
    ]
  }
}
.embed:json

.
> **__Insane Feats__**
Only the most reckless fighters would attempt such encounters, consistency and extreme skill are in display for the most grueling challenges in this bracket. When they are achieved in-game, you will receive a special mention in <#535654769948229643>!

.tag:Insane
{
  "embed": {
    "title": "",
    "color": 16711683,
    "fields": [
      {
        "name": "**__Insane Feats__**",
        "value": "<@&581216406570532875>\n\u00a0\u00a0\u00a0\u00a0• Solo AoD without using food\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0- No healing familiars, portents, Phoenix Necklaces, or any food items\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0- <:excal:641337999170207763> <:bloodbarrage:537338981747261446> <:soulsplit:615613924506599497> <:OnyxBakri:565726489362956308> <:VampScrim:513201294262009874> <:vitality:654618235097972737>, auras, and defensives are all allowed\n\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0\u00a0- No placing Ruby Prisms until after P2 starts\n<@&576608632565792786>\n\u00a0\u00a0\u00a0\u00a0• 200ks at Telos with 4000% start\n<@&921418895422808104>\n\u00a0\u00a0\u00a0\u00a0• Solo HM Vorago"
      }
    ]
  }
}
.embed:json

.
{
  "embed": {
    "title": "Table of Contents",
    "color": 39423,
    "fields": [
      {
        "name": "__Information__",
        "value": "⬥ [Introduction]($linkmsg_Introduction$)\n⬥ [Submissions]($linkmsg_Submissions$)\n⬥ [Special Roles]($linkmsg_Special$)",
        "inline": true
      },
      {
        "name": "__Feats__",
        "value": "⬥ [Initiate]($linkmsg_Initiate$)\n⬥ [Apprentice]($linkmsg_Apprentice$)\n⬥ [Adept]($linkmsg_Adept$)\n⬥ [Master]($linkmsg_Master$)\n⬥ [Grandmaster]($linkmsg_GM$)\n⬥ [Insane]($linkmsg_Insane$)",
        "inline": true
      }
    ]
  }
}
.embed:json
.pin:delete
